html {
    background-color: rgb(183, 134, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: rgb(252, 247, 250);
    width: 70rem;
    padding: 1rem;
    border-radius: 0.5rem;
}